In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv('Fraud_check.csv')
df

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO
...,...,...,...,...,...,...
595,YES,Divorced,76340,39492,7,YES
596,YES,Divorced,69967,55369,2,YES
597,NO,Divorced,47334,154058,0,YES
598,YES,Married,98592,180083,17,NO
599,NO,Divorced,96519,158137,16,NO

In [3]:
df.columns

Index(['Undergrad', 'Marital.Status', 'Taxable.Income', 'City.Population',
       'Work.Experience', 'Urban'],
      dtype='object')

In [4]:
data=pd.get_dummies(df)

In [5]:
d={'Marital.Status':'Marital_Status','Taxable.Income':'Taxable_Income','City.Population':'City_Population','Work.Experience':'Work_Experience'}
data.rename(columns=d,inplace=True)

data['tax_income']=pd.cut(data['Taxable_Income'],bins=[10000,30000,99619],labels=['Risky','Good'])

data['tax_income'].value_counts()

Good     476
Risky    124
Name: tax_income, dtype: int64

In [6]:
x=data.iloc[:,:10]
y=data.iloc[:,-1]

In [7]:
x.shape,y.shape

((600, 10), (600,))

In [8]:
from sklearn.model_selection import train_test_split,KFold,cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier,BaggingClassifier

In [18]:
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2,random_state=0)

In [19]:
dt_model=DecisionTreeClassifier(criterion='entropy')
dt_model.fit(x_train,y_train)
y_pred = dt_model.predict(x_test)

In [20]:
np.mean(y_pred==y_test)

1.0

In [21]:
# Rendom Forest

kfold= KFold(n_splits=10,random_state=7)

rf_model=RandomForestClassifier(n_estimators=100,max_features=2)
rf_results=cross_val_score(rf_model,x,y,cv=kfold)
rf_results

C:\Users\Lenovo\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:293: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  warnings.warn(

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [22]:
rf_results.mean()

1.0

In [23]:
# Bagging classifier.

cart= DecisionTreeClassifier(criterion='entropy')

bag_model= BaggingClassifier(base_estimator=cart,n_estimators=100,random_state=7)

bag_result= cross_val_score(bag_model,x,y,cv=kfold)

bag_result

array([1.        , 1.        , 1.        , 1.        , 0.98333333,
       1.        , 1.        , 1.        , 1.        , 1.        ])

In [24]:
bag_result.mean()

0.9983333333333334