In [1]:
import pandas as pd

In [4]:
data=pd.read_csv('Company_Data.csv')
data

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [5]:
data.describe()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,7.496325,124.975000,68.657500,6.635000,264.840000,115.795000,53.322500,13.900000
std,2.824115,15.334512,27.986037,6.650364,147.376436,23.676664,16.200297,2.620528
min,0.000000,77.000000,21.000000,0.000000,10.000000,24.000000,25.000000,10.000000
25%,5.390000,115.000000,42.750000,0.000000,139.000000,100.000000,39.750000,12.000000
50%,7.490000,125.000000,69.000000,5.000000,272.000000,117.000000,54.500000,14.000000
75%,9.320000,135.000000,91.000000,12.000000,398.500000,131.000000,66.000000,16.000000
max,16.270000,175.000000,120.000000,29.000000,509.000000,191.000000,80.000000,18.000000

In [10]:
data_dummy=pd.get_dummies(data)
data_dummy.shape

(400, 15)

In [15]:
data_dummy['sales_nature']=pd.cut(data['Sales'],bins=[-1,7.5,16.27],labels=['Risky','Good'])
x=data_dummy.iloc[:,1:15]
y=data_dummy.iloc[:,-1]

In [17]:
y

0       Good
1       Good
2       Good
3      Risky
4      Risky
       ...
395     Good
396    Risky
397    Risky
398    Risky
399     Good
Name: sales_nature, Length: 400, dtype: category
Categories (2, object): [Risky < Good]

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing

In [25]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [27]:
tree_model=DecisionTreeClassifier(criterion='entropy')
tree_model.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [31]:
y_pred=tree_model.predict(x_test)
y_pred.shape

(80,)

In [33]:
import numpy as np
np.mean(y_pred==y_test)

0.7375

In [34]:
pd.crosstab(y_pred,y_test)

sales_nature  Risky  Good
row_0
Good              9    33
Risky            26    12

In [35]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import KFold, cross_val_score

In [36]:
kfold=KFold(n_splits=10,random_state=7)
model= RandomForestClassifier(n_estimators=100,max_features=3)
result= cross_val_score(model,x,y,cv=kfold)

C:\Users\Lenovo\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:293: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  warnings.warn(

In [37]:
result

array([0.8  , 0.825, 0.65 , 0.8  , 0.75 , 0.9  , 0.725, 0.85 , 0.8  ,
       0.85 ])

In [39]:
print(result.mean())

0.7949999999999999

In [47]:
# Bagging 
from sklearn.ensemble import BaggingClassifier
cart=DecisionTreeClassifier(criterion='entropy')
bagging_model=BaggingClassifier(base_estimator=cart,n_estimators=100,random_state=7)
bag_results= cross_val_score(bagging_model,x,y,cv=kfold)
bag_results

array([0.85 , 0.85 , 0.7  , 0.875, 0.825, 0.9  , 0.75 , 0.75 , 0.75 ,
       0.9  ])

In [48]:
bag_results.mean()

0.8150000000000001